/nrepl-clojure/.lein-repl-history
/nrepl-clojure/target
/nrepl-plugin/build
/nrepl-clojure/pom.xml
/nrepl-clojure/src/protege/temp.clj
/nrepl-clojure/test/nrepl_clojure/core_test.clj
/nrepl-plugin/build.properties
/nrepl-plugin/lib/nrepl-clojure.jar
/nrepl-plugin/src/.svn/all-wcprops
/nrepl-plugin/src/.svn/entries
